

.navbar-nav {
margin: 0 20px 0 20px;
}
.navbar-collapse .navbar-nav li {
    margin-left:0px;
    text-align: left;

}
.nav-item  a:hover {
    background-color: #007BFF;
    color: #eee;
    box-shadow: 0px 8px 16px 0px rgba(63, 30, 248, 0.2);

}

.navbar-nav li:hover > ul.dropdown-menu {
    display: block;
}
.dropdown-submenu {
    position:relative;
    text-align: left !important;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top:-6px;
}
/* rotate caret on hover */
.dropdown-menu > li > a:hover:after {
    text-decoration: underline;
    transform: rotate(-90deg);
    
} 

.navbar-shadow[_ngcontent-aow-c124] {
    box-shadow: 0 2px 2px -1px rgb(0 0 0 / 40%);
}




  